.feed{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-column-gap:16px;
    grid-row-gap: 30px;
    margin-top:50px;
}   
.card img{
    border-radius: 15px;
    width:100%;
}
.card h2{
    font-size:16px;
    font-weight:600;
    color:black;
    margin:5px 0px;

}
.card h3{
    font-size:13px;
    font-weight:600;
    color:#555;
    margin:5px 0px;
}
.card p{
     font-size:13px;
    font-weight:600;
    color:#555;
    
}