.sidebar{
    background: #fff;
    width: 15%;
    height :100vh;
    position:fixed;
    top:0;
    padding-left: 2%;
    padding-top:80px;
}
.shortcut-links img{
    width:20px;
    margin-right:20px;
} 
.side-links{
    display:flex;
    align-items:center;
    margin-bottom:20px;
    width:fit-content;
    flex-wrap: wrap;
    cursor: pointer;
}
.sidebar hr{
    border:0;
    height: 2px;
    background: #ccc;
    width:85%;
}
.Subscribed-list h3{
font-size: 13;
margin:10px 0px;
color:#5a5a5a;
}
.Subscribed-list img{
    width:25px;
    border-radius: 50px;
    margin-right:20px;
}
.small-sidebar{
    width:5%;  

}
.small-sidebar p{
    display:none;
}
.small-sidebar h3{
    display:none; 
}
.small-sidebar hr{
    width:50%;
    margin-bottom:25px;
}
.side-links.active img{
    padding-bottom: 2px;
    border-bottom: 3px solid black;

}